.td_uid_32_58eb5714e7156_rand .td_module_wrap:hover .entry-title a,
.td_uid_32_58eb5714e7156_rand .td-pulldown-filter-link:hover,
.td_uid_32_58eb5714e7156_rand .td-subcat-item a:hover,
.td_uid_32_58eb5714e7156_rand .td-cur-simple-item,
.td_uid_32_58eb5714e7156_rand .td_quote_on_blocks,
.td_uid_32_58eb5714e7156_rand .td-opacity-cat .td-post-category:hover,
.td_uid_32_58eb5714e7156_rand .td-opacity-read .td-read-more a:hover,
.td_uid_32_58eb5714e7156_rand .td-opacity-author .td-post-author-name a:hover,
.td_uid_32_58eb5714e7156_rand .td-instagram-user a {
    color: #e29c04 !important;
}

.td_uid_32_58eb5714e7156_rand .td-next-prev-wrap a:hover,
.td_uid_32_58eb5714e7156_rand .td-load-more-wrap a:hover {
    background-color: #e29c04 !important;
    border-color: #e29c04 !important;
}

.td_uid_32_58eb5714e7156_rand .block-title > *,
.td_uid_32_58eb5714e7156_rand .td-trending-now-title,
.td_uid_32_58eb5714e7156_rand .td-read-more a,
.td_uid_32_58eb5714e7156_rand .td-weather-information:before,
.td_uid_32_58eb5714e7156_rand .td-weather-week:before,
.td_uid_32_58eb5714e7156_rand .td-subcat-dropdown:hover .td-subcat-more,
.td_uid_32_58eb5714e7156_rand .td-exchange-header:before,
.td-footer-wrapper .td_uid_32_58eb5714e7156_rand .td-post-category,
.td_uid_32_58eb5714e7156_rand .td-post-category:hover {
    background-color: #e29c04 !important;
}
.td-footer-wrapper .td_uid_32_58eb5714e7156_rand .block-title > * {
    padding: 6px 7px 5px !important;
    line-height: 1;
}

.td_uid_32_58eb5714e7156_rand .block-title {
    border-color: #e29c04 !important;
}

.td_uid_47_58eb5714ef466_rand .td_module_wrap:hover .entry-title a,
.td_uid_47_58eb5714ef466_rand .td-pulldown-filter-link:hover,
.td_uid_47_58eb5714ef466_rand .td-subcat-item a:hover,
.td_uid_47_58eb5714ef466_rand .td-cur-simple-item,
.td_uid_47_58eb5714ef466_rand .td_quote_on_blocks,
.td_uid_47_58eb5714ef466_rand .td-opacity-cat .td-post-category:hover,
.td_uid_47_58eb5714ef466_rand .td-opacity-read .td-read-more a:hover,
.td_uid_47_58eb5714ef466_rand .td-opacity-author .td-post-author-name a:hover,
.td_uid_47_58eb5714ef466_rand .td-instagram-user a {
    color: #4caf50 !important;
}

.td_uid_47_58eb5714ef466_rand .td-next-prev-wrap a:hover,
.td_uid_47_58eb5714ef466_rand .td-load-more-wrap a:hover {
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
}

.td_uid_47_58eb5714ef466_rand .block-title > *,
.td_uid_47_58eb5714ef466_rand .td-trending-now-title,
.td_uid_47_58eb5714ef466_rand .td-read-more a,
.td_uid_47_58eb5714ef466_rand .td-weather-information:before,
.td_uid_47_58eb5714ef466_rand .td-weather-week:before,
.td_uid_47_58eb5714ef466_rand .td-subcat-dropdown:hover .td-subcat-more,
.td_uid_47_58eb5714ef466_rand .td-exchange-header:before,
.td-footer-wrapper .td_uid_47_58eb5714ef466_rand .td-post-category,
.td_uid_47_58eb5714ef466_rand .td-post-category:hover {
    background-color: #4caf50 !important;
}
.td-footer-wrapper .td_uid_47_58eb5714ef466_rand .block-title > * {
    padding: 6px 7px 5px !important;
    line-height: 1;
}

.td_uid_47_58eb5714ef466_rand .block-title {
    border-color: #4caf50 !important;
}

.td_uid_62_58eb57150fea1_rand .td_module_wrap:hover .entry-title a,
.td_uid_62_58eb57150fea1_rand .td-pulldown-filter-link:hover,
.td_uid_62_58eb57150fea1_rand .td-subcat-item a:hover,
.td_uid_62_58eb57150fea1_rand .td-cur-simple-item,
.td_uid_62_58eb57150fea1_rand .td_quote_on_blocks,
.td_uid_62_58eb57150fea1_rand .td-opacity-cat .td-post-category:hover,
.td_uid_62_58eb57150fea1_rand .td-opacity-read .td-read-more a:hover,
.td_uid_62_58eb57150fea1_rand .td-opacity-author .td-post-author-name a:hover,
.td_uid_62_58eb57150fea1_rand .td-instagram-user a {
    color: #607d8b !important;
}

.td_uid_62_58eb57150fea1_rand .td-next-prev-wrap a:hover,
.td_uid_62_58eb57150fea1_rand .td-load-more-wrap a:hover {
    background-color: #607d8b !important;
    border-color: #607d8b !important;
}

.td_uid_62_58eb57150fea1_rand .block-title > *,
.td_uid_62_58eb57150fea1_rand .td-trending-now-title,
.td_uid_62_58eb57150fea1_rand .td-read-more a,
.td_uid_62_58eb57150fea1_rand .td-weather-information:before,
.td_uid_62_58eb57150fea1_rand .td-weather-week:before,
.td_uid_62_58eb57150fea1_rand .td-subcat-dropdown:hover .td-subcat-more,
.td_uid_62_58eb57150fea1_rand .td-exchange-header:before,
.td-footer-wrapper .td_uid_62_58eb57150fea1_rand .td-post-category,
.td_uid_62_58eb57150fea1_rand .td-post-category:hover {
    background-color: #607d8b !important;
}
.td-footer-wrapper .td_uid_62_58eb57150fea1_rand .block-title > * {
    padding: 6px 7px 5px !important;
    line-height: 1;
}

.td_uid_62_58eb57150fea1_rand .block-title {
    border-color: #607d8b !important;
}

.td_uid_63_58eb571512c34_rand .td_module_wrap:hover .entry-title a,
.td_uid_63_58eb571512c34_rand .td-pulldown-filter-link:hover,
.td_uid_63_58eb571512c34_rand .td-subcat-item a:hover,
.td_uid_63_58eb571512c34_rand .td-cur-simple-item,
.td_uid_63_58eb571512c34_rand .td_quote_on_blocks,
.td_uid_63_58eb571512c34_rand .td-opacity-cat .td-post-category:hover,
.td_uid_63_58eb571512c34_rand .td-opacity-read .td-read-more a:hover,
.td_uid_63_58eb571512c34_rand .td-opacity-author .td-post-author-name a:hover,
.td_uid_63_58eb571512c34_rand .td-instagram-user a {
    color: #f44336 !important;
}

.td_uid_63_58eb571512c34_rand .td-next-prev-wrap a:hover,
.td_uid_63_58eb571512c34_rand .td-load-more-wrap a:hover {
    background-color: #f44336 !important;
    border-color: #f44336 !important;
}

.td_uid_63_58eb571512c34_rand .block-title > *,
.td_uid_63_58eb571512c34_rand .td-trending-now-title,
.td_uid_63_58eb571512c34_rand .td-read-more a,
.td_uid_63_58eb571512c34_rand .td-weather-information:before,
.td_uid_63_58eb571512c34_rand .td-weather-week:before,
.td_uid_63_58eb571512c34_rand .td-subcat-dropdown:hover .td-subcat-more,
.td_uid_63_58eb571512c34_rand .td-exchange-header:before,
.td-footer-wrapper .td_uid_63_58eb571512c34_rand .td-post-category,
.td_uid_63_58eb571512c34_rand .td-post-category:hover {
    background-color: #f44336 !important;
}
.td-footer-wrapper .td_uid_63_58eb571512c34_rand .block-title > * {
    padding: 6px 7px 5px !important;
    line-height: 1;
}

.td_uid_63_58eb571512c34_rand .block-title {
    border-color: #f44336 !important;
}

.td_uid_84_58eb5715265bd_rand .td_module_wrap:hover .entry-title a,
.td_uid_84_58eb5715265bd_rand .td-pulldown-filter-link:hover,
.td_uid_84_58eb5715265bd_rand .td-subcat-item a:hover,
.td_uid_84_58eb5715265bd_rand .td-cur-simple-item,
.td_uid_84_58eb5715265bd_rand .td_quote_on_blocks,
.td_uid_84_58eb5715265bd_rand .td-opacity-cat .td-post-category:hover,
.td_uid_84_58eb5715265bd_rand .td-opacity-read .td-read-more a:hover,
.td_uid_84_58eb5715265bd_rand .td-opacity-author .td-post-author-name a:hover,
.td_uid_84_58eb5715265bd_rand .td-instagram-user a {
    color: #e91e63 !important;
}

.td_uid_84_58eb5715265bd_rand .td-next-prev-wrap a:hover,
.td_uid_84_58eb5715265bd_rand .td-load-more-wrap a:hover {
    background-color: #e91e63 !important;
    border-color: #e91e63 !important;
}

.td_uid_84_58eb5715265bd_rand .block-title > *,
.td_uid_84_58eb5715265bd_rand .td-trending-now-title,
.td_uid_84_58eb5715265bd_rand .td-read-more a,
.td_uid_84_58eb5715265bd_rand .td-weather-information:before,
.td_uid_84_58eb5715265bd_rand .td-weather-week:before,
.td_uid_84_58eb5715265bd_rand .td-subcat-dropdown:hover .td-subcat-more,
.td_uid_84_58eb5715265bd_rand .td-exchange-header:before,
.td-footer-wrapper .td_uid_84_58eb5715265bd_rand .td-post-category,
.td_uid_84_58eb5715265bd_rand .td-post-category:hover {
    background-color: #e91e63 !important;
}
.td-footer-wrapper .td_uid_84_58eb5715265bd_rand .block-title > * {
    padding: 6px 7px 5px !important;
    line-height: 1;
}

.td_uid_84_58eb5715265bd_rand .block-title {
    border-color: #e91e63 !important;
}

.td_uid_86_58eb57152a17d_rand .td_module_wrap:hover .entry-title a,
.td_uid_86_58eb57152a17d_rand .td-pulldown-filter-link:hover,
.td_uid_86_58eb57152a17d_rand .td-subcat-item a:hover,
.td_uid_86_58eb57152a17d_rand .td-cur-simple-item,
.td_uid_86_58eb57152a17d_rand .td_quote_on_blocks,
.td_uid_86_58eb57152a17d_rand .td-opacity-cat .td-post-category:hover,
.td_uid_86_58eb57152a17d_rand .td-opacity-read .td-read-more a:hover,
.td_uid_86_58eb57152a17d_rand .td-opacity-author .td-post-author-name a:hover,
.td_uid_86_58eb57152a17d_rand .td-instagram-user a {
    color: #4db2ec !important;
}

.td_uid_86_58eb57152a17d_rand .td-next-prev-wrap a:hover,
.td_uid_86_58eb57152a17d_rand .td-load-more-wrap a:hover {
    background-color: #4db2ec !important;
    border-color: #4db2ec !important;
}

.td_uid_86_58eb57152a17d_rand .block-title > *,
.td_uid_86_58eb57152a17d_rand .td-trending-now-title,
.td_uid_86_58eb57152a17d_rand .td-read-more a,
.td_uid_86_58eb57152a17d_rand .td-weather-information:before,
.td_uid_86_58eb57152a17d_rand .td-weather-week:before,
.td_uid_86_58eb57152a17d_rand .td-subcat-dropdown:hover .td-subcat-more,
.td_uid_86_58eb57152a17d_rand .td-exchange-header:before,
.td-footer-wrapper .td_uid_86_58eb57152a17d_rand .td-post-category,
.td_uid_86_58eb57152a17d_rand .td-post-category:hover {
    background-color: #4db2ec !important;
}
.td-footer-wrapper .td_uid_86_58eb57152a17d_rand .block-title > * {
    padding: 6px 7px 5px !important;
    line-height: 1;
}

.td_uid_86_58eb57152a17d_rand .block-title {
    border-color: #4db2ec !important;
}



/** Header style compiled by theme **/

.block-title > span,
.block-title > span > a,
.block-title > a,
.block-title > label,
.widgettitle,
.widgettitle:after,
.td-trending-now-title,
.td-trending-now-wrapper:hover .td-trending-now-title,
.wpb_tabs li.ui-tabs-active a,
.wpb_tabs li:hover a,
.vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tab.vc_active > a,
.vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container .vc_tta-tab:hover > a,
.td_block_template_1 .td-related-title .td-cur-simple-item,
.woocommerce .product .products h2,
.td-subcat-filter .td-subcat-dropdown:hover .td-subcat-more,
.td-weather-information:before,
.td-weather-week:before,
.td_block_exchange .td-exchange-header:before,
.td-theme-wrap .td_block_template_3 .td-block-title > *,
.td-theme-wrap .td_block_template_4 .td-block-title > *,
.td-theme-wrap .td_block_template_7 .td-block-title > *,
.td-theme-wrap .td_block_template_9 .td-block-title:after,
.td-theme-wrap .td_block_template_10 .td-block-title::before,
.td-theme-wrap .td_block_template_11 .td-block-title::before,
.td-theme-wrap .td_block_template_11 .td-block-title::after,
.td-theme-wrap .td_block_template_14 .td-block-title,
.td-theme-wrap .td_block_template_15 .td-block-title:before,
.td-theme-wrap .td_block_template_17 .td-block-title:before {
    background-color: #222222;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background-color: #222222 !important;
}

.block-title,
.td_block_template_1 .td-related-title,
.wpb_tabs .wpb_tabs_nav,
.vc_tta-container .vc_tta-color-grey.vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container,
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.td-theme-wrap .td_block_template_5 .td-block-title > *,
.td-theme-wrap .td_block_template_17 .td-block-title,
.td-theme-wrap .td_block_template_17 .td-block-title::before {
    border-color: #222222;
}

.td-theme-wrap .td_block_template_4 .td-block-title > *:before,
.td-theme-wrap .td_block_template_17 .td-block-title::after {
    border-color: #222222 transparent transparent transparent;
}