<div class="navbar-collapse collapse bg-primary" id="navbar-second">
    &copy; {{ 'now'|date('Y') }}. <a href="#" style="color: #FFFFFF;">{{ 'Touslesjours.com' }}</a> by <a href="#" target="_blank" style="color: #FFFFFF;">Raphael Blehoue</a>
</div>