<div class="footer text-muted">
    &copy; {{ 'now'|date('Y') }}. <a href="#" style="color: #FFFFFF;">Sicodemgroup</a> by <a href="#" target="_blank" style="color: #FFFFFF;">Raphael Blehoue</a>
</div>