<div class="navbar navbar-default navbar-sm navbar-fixed-bottom bg-primary">
    <div class="navbar-collapse collapse" id="navbar-second">
        <div class="navbar-text text-center">
            &copy; {{ 'now'|date('Y') }}. <a href="#" style="color: #FFFFFF;">{{ 'Touslesjours.com' }}</a> by <a href="#" target="_blank" style="color: #FFFFFF;">Raphael Blehoue</a>
        </div>
    </div>
</div>