<!-- Page header -->
<div class="page-header">
    <div class="breadcrumb-line breadcrumb-line-wide">
        <ul class="breadcrumb">
            <li class="active"> <a href=""><i class="icon-home2 position-left"></i> Dashboard</a></li>
        </ul>

        <ul class="breadcrumb-elements">
            <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-gear position-left"></i>
                    {{ 'paramètres'|capitalize }}
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                    <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                    <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Dashboard <small> Bienvenu, Victoria!</small></h4>
        </div>

        <div class="heading-elements">
            <div class="heading-btn-group">
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-newspaper text-primary"></i><span>{{ 'Créer un article'|capitalize }}</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-folder-plus2 text-primary"></i> <span>{{ 'Créer un dossier' }}</span></a>
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <a href="#" class="btn btn-link btn-float has-text"><i class="icon-plus-circle2  text-primary"></i> <span>{{ 'Ajouter une publicité' }}</span></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- /page header -->