 <div class="widget">
        <div class="tabs-widget">
            <ul class="nav nav-tab">
                <li class="active"><a href="#flash" data-toggle="tab">{{ 'en continu'|capitalize }}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="flash">
                    <ul class="readable-post">
                        {% for flash in flashs %}
                        <li>
                            <div class="post-style9" itemtype="http://schema.org/BlogPosting" itemscope="">
                                <strong>{{ flash.updated|ago}}</strong> -
                                <span style="font-size: 1.2em; text-align: justify;">{{ flash.content }} </span>
                            </div><!-- Post Style 9 -->
                        </li>
                        {% endfor %}
                    </ul><!-- Readable Post -->
                </div>
            </div>
        </div><!-- tabs Widget -->
 </div>


