<div class="header_container">
    <div class="header clearfix">
        <div class="logo">
            <h1><a href="" title="Pressroom">Pressroom</a></h1>
            <h4>News and Magazine Template</h4>
        </div>
        <div class="placeholder">728 x 90</div>
    </div>
</div>