<header class="buddy-header">
    <div class="logo-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="current-time"><i class="fa fa-calendar"></i><span id="clock"></span></div>
                </div>
                <div class="col-md-4">
                    <div class="logo centred">
                        <a itemprop="url" href="#" title=""><img src="images/resource/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="social-btns">
                        <li><a itemprop="url" href="#" title=""><i class="fa fa-facebook"></i></a></li>
                        <li><a itemprop="url" href="#" title=""><i class="fa fa-twitter"></i></a></li>
                        <li><a itemprop="url" href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a itemprop="url" href="#" title=""><i class="fa fa-dribbble"></i></a></li>
                        <li><a itemprop="url" href="#" title=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="buddy-menu">
        <div class="container">
            <nav class="centred">
                <ul>
                    <li class="menu-item-has-children"><a itemprop="url" href="#" title=""><i class="fa fa-home"></i>HOME</a>
                        <ul>
                            <li><a itemprop="url" href="index.html" title=""><span>V-1</span>HOME</a></li>
                            <li><a itemprop="url" href="index2.html" title=""><span>V-2</span>HOME</a></li>
                            <li><a itemprop="url" href="index3.html" title=""><span>V-3</span>HOME</a></li>
                            <li><a itemprop="url" href="index4.html" title=""><span>V-4</span>HOME</a></li>
                            <li><a itemprop="url" href="index5.html" title=""><span>V-5</span>HOME</a></li>
                            <li><a itemprop="url" href="index6.html" title=""><span>V-6</span>HOME</a></li>
                            <li><a itemprop="url" href="index7.html" title=""><span>V-7</span>HOME</a></li>
                            <li><a itemprop="url" href="index8.html" title=""><span>V-8</span>HOME</a></li>
                        </ul><!-- drop-down -->
                    </li>
                    <li class="menu-item-has-children"><a itemprop="url" href="#" title=""><i class="fa fa-pencil"></i>CATEGORY</a>
                        <ul>
                            <li><a itemprop="url" href="blog.html" title=""><span>V-1</span>CATEGORY</a></li>
                            <li><a itemprop="url" href="blog2.html" title=""><span>V-2</span>CATEGORY</a></li>
                            <li><a itemprop="url" href="blog3.html" title=""><span>V-3</span>CATEGORY</a></li>
                            <li><a itemprop="url" href="blog4.html" title=""><span>V-4</span>CATEGORY</a></li>
                            <li><a itemprop="url" href="blog5.html" title=""><span>V-5</span>CATEGORY</a></li>
                        </ul><!-- drop-down -->
                    </li>
                    <li class="menu-item-has-children"><a itemprop="url" href="#" title=""><i class="fa fa-pencil"></i>SINGLE POSTS</a>
                        <ul>
                            <li><a itemprop="url" href="single.html" title=""><span>V-1</span>SINGLE POST</a></li>
                            <li><a itemprop="url" href="single2.html" title=""><span>V-2</span>SINGLE POST</a></li>
                            <li><a itemprop="url" href="single3.html" title=""><span>V-3</span>SINGLE POST</a></li>
                            <li><a itemprop="url" href="single4.html" title=""><span>V-4</span>SINGLE POST</a></li>
                            <li><a itemprop="url" href="single5.html" title=""><span>V-5</span>SINGLE POST</a></li>
                            <li><a itemprop="url" href="single6.html" title=""><span>V-6</span>SINGLE POST</a></li>
                            <li><a itemprop="url" href="single7.html" title=""><span>V-7</span>SINGLE POST</a></li>
                            <li><a itemprop="url" href="single8.html" title=""><span>V-8</span>SINGLE POST</a></li>
                        </ul><!-- drop-down -->
                    </li>
                    <li class="menu-item-has-children"><a itemprop="url" href="#" title=""><i class="fa fa-pencil"></i>GALLRIES</a>
                        <ul>
                            <li><a itemprop="url" href="gallery1.html" title=""><span>V-1</span>GALLERY</a></li>
                            <li><a itemprop="url" href="gallery2.html" title=""><span>V-2</span>GALLERY</a></li>
                            <li><a itemprop="url" href="gallery3.html" title=""><span>V-3</span>GALLERY</a></li>
                        </ul><!-- drop-down -->
                    </li>
                    <li class="menu-item-has-children"><a itemprop="url" href="#" title=""><i class="fa fa-pencil"></i>HEADERS</a>
                        <div class="mega-menu5">
                            <div class="menu-list1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="menu-links2">
                                            <ul>
                                                <li><a itemprop="url" href="header1.html" title=""><span>V-1</span>HEADER</a></li>
                                                <li><a itemprop="url" href="header2.html" title=""><span>V-2</span>HEADER</a></li>
                                                <li><a itemprop="url" href="header3.html" title=""><span>V-3</span>HEADER</a></li>
                                                <li><a itemprop="url" href="header4.html" title=""><span>V-4</span>HEADER</a></li>
                                                <li><a itemprop="url" href="header5.html" title=""><span>V-5</span>HEADER</a></li>
                                            </ul><!-- drop-down -->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="menu-links2">
                                            <ul>
                                                <li><a itemprop="url" href="header6.html" title=""><span>V-6</span>HEADER</a></li>
                                                <li><a itemprop="url" href="header7.html" title=""><span>V-7</span>HEADER</a></li>
                                                <li><a itemprop="url" href="header8.html" title=""><span>V-8</span>HEADER</a></li>
                                                <li><a itemprop="url" href="header9.html" title=""><span>V-9</span>HEADER</a></li>
                                                <li><a itemprop="url" href="header10.html" title=""><span>V-10</span>HEADER</a></li>
                                            </ul><!-- drop-down -->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="menu-links2">
                                            <ul>
                                                <li><a itemprop="url" href="header11.html" title=""><span>V-11</span>HEADER</a></li>
                                                <li><a itemprop="url" href="header12.html" title=""><span>V-12</span>HEADER</a></li>
                                                <li><a itemprop="url" href="header13.html" title=""><span>V-13</span>HEADER</a></li>
                                                <li><a itemprop="url" href="header14.html" title=""><span>V-14</span>HEADER</a></li>
                                            </ul><!-- drop-down -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item-has-children"><a itemprop="url" href="#" title=""><i class="fa fa-picture-o"></i>FOOTERS</a>
                        <ul>
                            <li><a itemprop="url" href="footer1.html" title=""><span>V-1</span>FOOTER</a></li>
                            <li><a itemprop="url" href="footer2.html" title=""><span>V-2</span>FOOTER</a></li>
                            <li><a itemprop="url" href="footer3.html" title=""><span>V-3</span>FOOTER</a></li>
                            <li><a itemprop="url" href="footer4.html" title=""><span>V-4</span>FOOTER</a></li>
                            <li><a itemprop="url" href="footer5.html" title=""><span>V-5</span>FOOTER</a></li>
                            <li><a itemprop="url" href="footer6.html" title=""><span>V-6</span>FOOTER</a></li>
                            <li><a itemprop="url" href="footer7.html" title=""><span>V-7</span>FOOTER</a></li>
                            <li><a itemprop="url" href="footer8.html" title=""><span>V-8</span>FOOTER</a></li>
                            <li><a itemprop="url" href="footer9.html" title=""><span>V-9</span>FOOTER</a></li>
                        </ul><!-- drop-down -->
                    </li>
                    <li class="menu-item-has-children"><a itemprop="url" href="#" title=""><i class="fa fa-picture-o"></i>Pages</a>
                        <ul>
                            <li><a itemprop="url" href="about.html" title="">ABOUT US</a></li>
                            <li><a itemprop="url" href="contact.html" title="">CONTACT US</a></li>
                            <li><a itemprop="url" href="titles.html" title="">TITLES</a></li>
                            <li><a itemprop="url" href="404.html" title="">404</a></li>
                            <li><a itemprop="url" href="search-not.html" title="">SEARCH NOT FOUND</a></li>
                        </ul><!-- drop-down -->
                    </li>
                </ul>
            </nav>
            <form class="search-post">
                <i class="fa fa-search"></i>
                <label>
                    <input type="text" placeholder="Search Here" />
                </label>
            </form><!-- -->
        </div>
    </div>
</header>
