<header class="buddy-header">
    <div class="logo-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="current-time"><i class="fa fa-calendar"></i><span id="clock"></span></div>
                </div>
                <div class="col-md-4">
                    <div class="logo centred">
                        <a itemprop="url" href="#" title=""><img src="images/resource/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="social-btns">
                        <li><a itemprop="url" href="#" title=""><i class="fa fa-facebook"></i></a></li>
                        <li><a itemprop="url" href="#" title=""><i class="fa fa-twitter"></i></a></li>
                        <li><a itemprop="url" href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a itemprop="url" href="#" title=""><i class="fa fa-dribbble"></i></a></li>
                        <li><a itemprop="url" href="#" title=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="buddy-menu">
        <div class="container">
            <nav class="centred">
                <ul>
                    {% for section in sections %}
                        <li class="menu-item-has-children">
                            <a itemprop="url" href="{{ path('section_front_view', {'slug' : section.slug}) }}" title="">{{ section.name|upper }}</a>
                        <ul>
                            {% set rubrique = section.slug %}
                            {% if section.items|length > 0 %}
                                {% for item in section.items %}
                                    <li><a itemprop="url" href="{{ path('item_front_view', {'rubrique': rubrique ,'slug' : item.slug}) }}" title="">{{ item.name|upper }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul><!-- drop-down -->
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
