<nav class="centred">
    <ul>
        {% for section in sections %}
            <li class="menu-item-has-children">
                <a itemprop="url"  href="{{ path('front_section_page', {'slug' : section.slug}) }}" title="{{ section.name}}">{{ section.name|upper }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
