<div class="responsive-header">
    <div class="top-bar">
        <div class="responsive-btn">
            <a href="#" title="" itemprop="url"><i class="fa fa-th"></i></a>
        </div><!-- Responsive Btn -->
        <ul class="social-btn">
            <li class="facebook"><a title="" href="#" itemprop="url"><i class="fa fa-facebook"></i></a></li>
            <li class="twitter"><a title="" href="#" itemprop="url"><i class="fa fa-twitter"></i></a></li>
            <li class="google"><a title="" href="#" itemprop="url"><i class="fa fa-google-plus"></i></a></li>
            <li class="dribbble"><a title="" href="#" itemprop="url"><i class="fa fa-dribbble"></i></a></li>
            <li class="linkedin"><a title="" href="#" itemprop="url"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div><!-- Top Bar -->
    <div class="logo">
        <a href="#" title="" itemprop="url"><img src="images/resource/logo.png" alt="" itemprop="image" /></a>
    </div>
    <div class="add">
        <a href="#" title="" itemprop="url"><img src="http://placehold.it/375x46" alt="" itemprop="image" /></a>
    </div>
    <div class="responsive-menu">
        <div class="close-btn">
				<span>
					<i class="fa fa-times"></i>
					Close
				</span>
        </div><!-- Close Btn -->
        <ul>
            <li class="menu-item-has-children"><a itemprop="url" href="#" title="">HOME</a>
                <ul>
                    <li><a itemprop="url" href="index.html" title="">HOME 1</a></li>
                    <li><a itemprop="url" href="index2.html" title="">HOME 2</a></li>
                    <li><a itemprop="url" href="index3.html" title="">HOME 3</a></li>
                    <li><a itemprop="url" href="index4.html" title="">HOME 4</a></li>
                    <li><a itemprop="url" href="index5.html" title="">HOME 5</a></li>
                    <li><a itemprop="url" href="index6.html" title="">HOME 6</a></li>
                    <li><a itemprop="url" href="index7.html" title="">HOME 7</a></li>
                    <li><a itemprop="url" href="index8.html" title="">HOME 8</a></li>
                </ul><!-- drop-down -->
            </li>
            <li class="menu-item-has-children"><a itemprop="url" href="#" title="">CATEGORY</a>
                <ul>
                    <li><a itemprop="url" href="blog.html" title="">CATEGORY 1</a></li>
                    <li><a itemprop="url" href="blog2.html" title="">CATEGORY 2</a></li>
                    <li><a itemprop="url" href="blog3.html" title="">CATEGORY 3</a></li>
                    <li><a itemprop="url" href="blog4.html" title="">CATEGORY 4</a></li>
                    <li><a itemprop="url" href="blog5.html" title="">CATEGORY 5</a></li>
                </ul><!-- drop-down -->
            </li>
            <li class="menu-item-has-children"><a itemprop="url" href="#" title="">SINGLE POSTS</a>
                <ul>
                    <li><a itemprop="url" href="single.html" title="">SINGLE POST 1</a></li>
                    <li><a itemprop="url" href="single2.html" title="">SINGLE POST 2</a></li>
                    <li><a itemprop="url" href="single3.html" title="">SINGLE POST 3</a></li>
                    <li><a itemprop="url" href="single4.html" title="">SINGLE POST 4</a></li>
                    <li><a itemprop="url" href="single5.html" title="">SINGLE POST 5</a></li>
                    <li><a itemprop="url" href="single6.html" title="">SINGLE POST 6</a></li>
                    <li><a itemprop="url" href="single7.html" title="">SINGLE POST 7</a></li>
                    <li><a itemprop="url" href="single8.html" title="">SINGLE POST 8</a></li>
                </ul><!-- drop-down -->
            </li>
            <li class="menu-item-has-children"><a itemprop="url" href="#" title="">GALLRIES</a>
                <ul>
                    <li><a itemprop="url" href="gallery1.html" title="">GALLERY 1</a></li>
                    <li><a itemprop="url" href="gallery2.html" title="">GALLERY 2</a></li>
                    <li><a itemprop="url" href="gallery3.html" title="">GALLERY 3</a></li>
                </ul><!-- drop-down -->
            </li>
            <li class="menu-item-has-children"><a itemprop="url" href="#" title="">HEADERS</a>
                <ul>
                    <li><a itemprop="url" href="header1.html" title="">HEADER 1</a></li>
                    <li><a itemprop="url" href="header2.html" title="">HEADER 2</a></li>
                    <li><a itemprop="url" href="header3.html" title="">HEADER 3</a></li>
                    <li><a itemprop="url" href="header4.html" title="">HEADER 4</a></li>
                    <li><a itemprop="url" href="header5.html" title="">HEADER 5</a></li>
                    <li><a itemprop="url" href="header6.html" title="">HEADER 6</a></li>
                    <li><a itemprop="url" href="header7.html" title="">HEADER 7</a></li>
                    <li><a itemprop="url" href="header8.html" title="">HEADER 8</a></li>
                    <li><a itemprop="url" href="header9.html" title="">HEADER 9</a></li>
                    <li><a itemprop="url" href="header10.html" title="">HEADER 10</a></li>
                    <li><a itemprop="url" href="header11.html" title="">HEADER 11</a></li>
                    <li><a itemprop="url" href="header12.html" title="">HEADER 12</a></li>
                    <li><a itemprop="url" href="header13.html" title="">HEADER 13</a></li>
                    <li><a itemprop="url" href="header14.html" title="">HEADER 14</a></li>
                </ul><!-- drop-down -->
            </li>
            <li class="menu-item-has-children"><a itemprop="url" href="#" title="">FOOTERS</a>
                <ul>
                    <li><a itemprop="url" href="footer1.html" title="">FOOTER 1</a></li>
                    <li><a itemprop="url" href="footer2.html" title="">FOOTER 2</a></li>
                    <li><a itemprop="url" href="footer3.html" title="">FOOTER 3</a></li>
                    <li><a itemprop="url" href="footer4.html" title="">FOOTER 4</a></li>
                    <li><a itemprop="url" href="footer5.html" title="">FOOTER 5</a></li>
                    <li><a itemprop="url" href="footer6.html" title="">FOOTER 6</a></li>
                    <li><a itemprop="url" href="footer7.html" title="">FOOTER 7</a></li>
                    <li><a itemprop="url" href="footer8.html" title="">FOOTER 8</a></li>
                    <li><a itemprop="url" href="footer9.html" title="">FOOTER 9</a></li>
                </ul><!-- drop-down -->
            </li>
            <li class="menu-item-has-children"><a itemprop="url" href="#" title="">PAGES</a>
                <ul>
                    <li><a itemprop="url" href="about.html" title="">ABOUT US</a></li>
                    <li><a itemprop="url" href="contact.html" title="">CONTACT US</a></li>
                    <li><a itemprop="url" href="404.html" title="">404</a></li>
                    <li><a itemprop="url" href="search-not.html" title="">SEARCH NOT FOUND</a></li>
                </ul><!-- drop-down -->
            </li>
        </ul>
    </div><!-- Responsive Menu -->
</div><!-- Responsive Header -->
